@model IEnumerable<BookStore.Models.Product>	

<div class="row pb-3 mt-3">
	@foreach (var product in Model)
	{
		<div class="col-lg-4 col-sm-6">
			<div class="card mb-4 shadow rounded-4">
				<img class="card-img-top" src="@product.ImageUrl" alt="Card image cap" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
				<div class="card-body">
					<p class="card-text text-center text-light opacity-75 h5" style="font-family: Montserrat, sans-serif;">@product.Title</p>
					<p class="card-text text-center text-primary h7" style="font-family: Montserrat, sans-serif;">by @product.Author</p>
					<div class="row m-3">
						<a asp-controller="Home" asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary bg-gradient form-control">View details</a>
					</div>
				</div>
			</div>
		</div>
	}
</div>
<partial name="_Notification"/>