@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="text-center">
	<div class="container">

		<figure>
			<img src="~/images/48519703.png" alt="Cat Image" width="300" />
			<figcaption>cat</figcaption>
		</figure>

	</div>
</div>
